<mat-toolbar class="toolbar">
    <img width="110" alt="LogoST" src="../assets/smart-travel.png" />
    <span class="example-spacer"></span>
    <div class="example-button-row">
        <mat-icon>person</mat-icon>
        Admin
    </div>
</mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <img class="avatar mat-elevation-z8" src="../assets/logo.png" alt="logo">
        <h4 class="name">Smart Travel</h4>
        
        <button mat-button class="menu-button" (click)="navigate('hoteles')">
            <mat-icon>real_estate_agent</mat-icon>
            <span>Mis Hoteles</span>
        </button>
        
        <button mat-button class="menu-button" (click)="navigate('crear')">
            <mat-icon>playlist_add</mat-icon>
            <span>Crear Hoteles</span>
        </button>

        <mat-divider></mat-divider>
        
        <button mat-button class="menu-button" [routerLink]="['/']">
            <mat-icon>logout</mat-icon>
            <span>Salir</span>
        </button>

    </mat-drawer>
    <mat-drawer-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>